:root {
    --btn-color: #1eacc7; 
}

.btn {
    background-color: var(--btn-color);

}
.menu,
footer .info_top {
    -webkit-box-pack: justify
}

.menu,
.require_list {
    list-style-type: none
}

header nav {
    height: 50px;
    background: #212121;
    width: 100%;
    position: fixed;
    z-index: 10
}

.hamburger {
    display: none
}

.menu,
.reason_round {
    display: -webkit-box;
    display: -ms-flexbox
}

.menu {
    padding: 13px 70px;
    margin-bottom: 0;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.menu_item {
    border-right: 2px dotted #000;
    padding-right: 45px
}

.menu_item:last-child {
    border-right: none
}

.menu_link {
    font-weight: 300;
    font-size: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none
}

.menu_link:hover {
    -webkit-transition: .2s all;
    transition: .2s all;
    color: #1eacc7
}

.subheader {
    height: 84px;
    top: 50px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%
}

.subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #fff
}

.subheader_btn,
.subheader_phone {
    font-weight: 400;
    text-transform: uppercase
}

.subheader_phone {
    display: block;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    text-align: right
}

.subheader_phone:hover {
    color: #1eacc7;
    -webkit-transition: .2s;
    transition: .2s
}

.subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0, #4CE2FF 100%);
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .21)
}

.subheader_btn:hover {
    background-image: none;
    background-color: #1eacc7
}

.subheader .logo_link {
    display: block;
    max-width: 100%;
    margin-top: 17px
}

.subheader .logo_text {
    margin-top: 5px;
    font-weight: 100;
    font-size: 13px;
    color: #fff;
    opacity: .6
}

.promo {
    min-height: 800px;
    background: url(../img/top_uber_bg.jpg) center center/cover no-repeat;
    padding: 141px 0 135px
}

.promo_header {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    margin-top: 50px;
    margin-bottom: 0
}

.promo_subheader {
    margin-top: 22px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    margin-bottom: 0
}

.promo_btn,
.promo_text {
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.promo_text {
    margin-top: 28px;
    padding: 0 45px;
    line-height: 24px;
    text-align: center
}

.promo_btn {
    display: block;
    margin: 116px auto 0;
    width: 259px;
    height: 63px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0, #4CE2FF 100%);
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .21)
}

.promo_btn:hover {
    background-image: none;
    background-color: #1eacc7
}

.reasons {
    min-height: 850px;
    padding: 18px 0 64px
}

.label {
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    border: none
}

.subtitle,
.title {
    color: #222;
    text-align: center
}

.title {
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 0
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 30px
}

.reason {
    padding: 20px 0 65px
}

.reason_round {
    width: 116px;
    height: 116px;
    background: #1eacc7;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%
}

.reason_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 28px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.reason_desrc {
    width: 340px;
    margin-left: 25px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020
}

.reason_desrc_header {
    font-weight: 400;
    font-size: 17px;
    color: #1eacc7;
    line-height: 21px
}

.mobile {
    min-height: 864px;
    background: url(../img/mobile_bg.jpg) center center/cover no-repeat;
    padding-top: 48px;
    padding-bottom: 79px
}

.mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto 19px;
    padding-top: 88px
}

.mobile_item_1 {
    background: url(../icons/mobile_img/Mobile1.jpg) center center/cover no-repeat
}

.mobile_item_2 {
    background: url(../icons/mobile_img/Mobile2.jpg) center center/cover no-repeat
}

.mobile_item_3 {
    background: url(../icons/mobile_img/Mobile3.jpg) center center/cover no-repeat
}

.mobile_item_4 {
    background: url(../icons/mobile_img/Mobile4.jpg) center center/cover no-repeat
}

.mobile_item_5 {
    background: url(../icons/mobile_img/Mobile5.jpg) center center/cover no-repeat
}

.mobile_item_6 {
    background: url(../icons/mobile_img/Mobile6.jpg) center center/cover no-repeat
}

.mobile_item_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #fff
}

.mobile_item_plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: .3s all;
    transition: .3s all
}

.mobile_item_plus:after,
.mobile_item_plus:before,
.mobile_item_plus:hover {
    background-color: #1eacc7
}

.mobile_item_plus:before {
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    -webkit-transition: .3s all;
    transition: .3s all
}

.mobile_item_plus:after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 14px;
    -webkit-transition: .3s all;
    transition: .3s all
}

.mobile_item_plus:hover:after,
.mobile_item_plus:hover:before {
    background-color: #fff
}

.car_section_black {
    position: relative;
    min-height: 500px;
    background: #070716;
    padding-top: 44px;
    z-index: 5
}

.car_section_black .label_white {
    width: 112px;
    height: 24px;
    background: #fff;
    color: #070716
}

.car_section_black .title_white {
    margin-top: 27px;
    color: #fff
}

.car_section_black .subtitle_white {
    color: #fff
}

.car_section_black .car_img {
    position: absolute;
    top: 220px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1
}

.car_section_bot {
    min-height: 400px;
    background: url(../img/Car_bg.jpg) center center/cover no-repeat;
    padding-top: 210px
}

.car_section_bot_text {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222
}

.require {
    min-height: 917px;
    padding: 66px 0 87px
}

.require_block {
    margin: 32px 0
}

.require_block_nmb {
    margin-bottom: 0
}

.require_title {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #1ca8c3
}

.require_list {
    padding-left: 50px;
    margin-top: 22px
}

.require_list li {
    position: relative;
    font-weight: 300;
    font-size: 17px;
    color: #222;
    margin-bottom: 5px
}

.require_list li::before {
    content: "";
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url(../icons/check_blue.png) center center/cover no-repeat
}

.require_descr {
    width: 100%;
    font-weight: 300;
    font-size: 17px;
    color: #1ca8c3
}

.world a,
footer .info_top a {
    text-decoration: none;
    font-size: 15px
}

.require .red .require_title {
    color: #ff5656
}

.require .red .require_list li::before {
    background: url(../icons/check_red.png) center center/cover no-repeat
}

.world {
    min-height: 717px;
    background: url(../img/world_bg.jpg) center center/cover no-repeat;
    padding-top: 48px;
    padding-bottom: 50px
}

.world .label_white {
    width: 75px;
    height: 25px;
    background: #fff;
    color: #070716
}

.world .title_white {
    line-height: 42px;
    margin-top: 26px;
    color: #fff
}

.world .subtitle_white {
    color: #fff
}

.world a {
    display: block;
    text-align: center;
    margin-top: 479px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1fbad6
}

footer {
    min-height: 155px;
    padding: 15px 0 35px;
    position: relative
}

footer .divider {
    width: 301px;
    height: 4px;
    background: #1fbad6;
    display: block;
    margin: 0 auto
}

footer .info_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 32px auto 0;
    width: 370px;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.icon,
footer .info_bot {
    -webkit-box-pack: justify
}

footer .info_top a {
    font-weight: 300;
    text-transform: uppercase;
    color: #070716
}

footer .info_bot a,
footer .link_ru {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none
}

footer .info_bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px auto 0;
    width: 390px;
    -ms-flex-pack: justify;
    justify-content: space-between
}

footer .info_bot a {
    font-weight: 300;
    color: #999
}

footer .link_ru {
    display: block;
    text-align: center;
    margin-top: 14px;
    font-weight: 400;
    color: #1fbad6
}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 12px;
    top: 51px;
    height: 35px;
    width: 155px
}

.icon_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #070716;
    border-radius: 100%;
    text-decoration: none
}

.icon_round span {
    color: #fff;
    background-color: #000
}

.download {
    position: absolute;
    right: 34px;
    top: 52px
}

.xs-visible {
    display: none
}

@media(max-width:1200px) {
    .menu_item {
        padding-right: 20px
    }

    .menu_link {
        font-size: 13px
    }

    .promo_header {
        font-size: 50px;
        font-weight: 700
    }

    .reason_item {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .reason_desrc {
        width: 310px
    }

    .mobile_item {
        width: 100%
    }

    .car_section_black .car_img {
        width: 70%
    }

    footer {
        padding-bottom: 10px
    }

    footer .download {
        top: 110px;
        right: 15px
    }

    footer .icon {
        top: 110px
    }
}

@media(max-width:991px) {
    .menu_item {
        padding-right: 10px
    }

    .menu_link {
        font-size: 10px
    }

    .subheader .logo_link img {
        width: 100%
    }

    .subheader .logo_text {
        font-size: 12px
    }

    .subheader_phone {
        font-size: 20px
    }

    .subheader_btn {
        width: 100%;
        margin-top: 22px;
        height: 40px
    }

    .promo_header {
        font-size: 40px
    }

    .promo_subheader {
        font-size: 30px
    }

    .promo_text {
        padding: 0;
        font-weight: 300
    }

    .reason_item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .reason_desrc {
        margin-top: 20px;
        width: 310px;
        text-align: center
    }
}

@media(max-width:767px) {
    .menu {
        position: fixed;
        left: -100%;
        top: 0;
        padding: 10px;
        width: 50%;
        height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .8);
        -webkit-transition: .6s all;
        transition: .6s all
    }

    .menu_active {
        left: 0
    }

    .menu_item {
        border: none;
        margin-top: 20px
    }

    .menu_link {
        font-size: 20px
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 26px;
        height: 12px
    }

    .hamburger span {
        display: block;
        background-color: #fff;
        height: 2px;
        margin-top: 2px;
        -webkit-transition: .5s all;
        transition: .5s all
    }

    .hamburger_active span {
        margin-top: -2px
    }

    .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(7px) rotate(-45deg);
        transform: translateY(7px) rotate(-45deg)
    }

    .hamburger_active span:nth-child(2) {
        display: none
    }

    .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg)
    }

    .xs-visible {
        display: block;
        margin-top: 5px;
        text-align: center;
        font-size: 18px
    }

    .subheader .logo_text,
    .xs-hidden {
        display: none
    }

    .subheader .logo_link img {
        margin-top: 10px
    }

    .subheader_btn {
        display: block;
        margin: 2px auto 0;
        width: 190px;
        height: 40px;
        font-weight: 400;
        font-size: 15.5px
    }

    .promo_header {
        line-height: 45px
    }

    .promo_subheader {
        font-size: 26px
    }

    .mobile {
        min-height: 864px
    }
}

@media(max-width:575px) {
    header nav {
        height: 32px
    }

    .menu {
        width: 85%
    }

    .menu_item {
        width: 100%;
        text-align: center
    }

    .menu_link {
        display: block;
        padding: 5px 0
    }

    .subheader {
        top: 32px;
        height: 62px
    }

    .subheader .logo_link {
        margin-top: 17px
    }

    .subheader_phone {
        margin-top: 11px;
        font-size: 12px
    }

    .subheader_btn {
        display: block;
        margin: 4px auto 0;
        width: 110px;
        height: 22px;
        font-size: 10px
    }

    .subheader_btn:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
        background: linear-gradient(0deg, #1EACC7 0, #4CE2FF 100%)
    }

    .promo {
        min-height: 400px;
        padding: 101px 0 35px
    }

    .promo_header {
        font-size: 30px;
        line-height: 35px;
        padding: 0 24px
    }

    .promo_subheader {
        font-size: 20px;
        line-height: 23px;
        margin-top: 33px
    }

    .promo_btn,
    .reason_desrc_header,
    .title {
        font-size: 16px
    }

    .promo_text {
        display: none
    }

    .promo_btn {
        width: 210px;
        height: 50px;
        font-weight: 400;
        line-height: 50px;
        margin-top: 75px
    }

    .reason_desrc,
    .reason_item {
        margin-top: 24px
    }

    .promo_btn:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
        background: linear-gradient(0deg, #1EACC7 0, #4CE2FF 100%)
    }

    .reason {
        padding-bottom: 38px
    }

    .reason_round {
        height: 100px;
        width: 100px
    }

    .reason_desrc {
        margin-left: 3px;
        text-align: left;
        width: 292px
    }

    .title {
        margin-top: 16px;
        line-height: 16px
    }

    .require_descr,
    .require_list li,
    .subtitle,
    .world .subtitle_white,
    footer .info_top a {
        font-size: 14px
    }

    .subtitle {
        line-height: 21px;
        margin-top: 9px;
        margin-bottom: 27px
    }

    .mobile_item {
        padding: 80px 32px 27px;
        width: 290px;
        height: 254px
    }

    .mobile_item_text {
        font-size: 18px
    }

    .mobile_item_plus {
        height: 29px;
        width: 29px
    }

    .mobile_item_plus:hover {
        background-color: #000
    }

    .mobile_item_plus:hover::after,
    .mobile_item_plus:hover::before {
        background-color: #1eacc7
    }

    .car_section_black {
        min-height: 393px;
        padding: 25px 0 31px
    }

    .car_section_black .car_img {
        width: 94%;
        top: 85px
    }

    .car .car_section_bot,
    .car .subtitle_white,
    .car .title_white {
        display: none
    }

    .car .xs-visible {
        color: #fff;
        margin-top: 247px;
        font-size: 17px
    }

    .require {
        padding: 22px 0 30px
    }

    .require_block {
        padding: 0 3px;
        margin: 30px 0 0
    }

    .require_title {
        font-size: 16px
    }

    .require_list {
        margin-top: 0;
        padding-left: 32px
    }

    .require_descr {
        line-height: 16px
    }

    .world {
        min-height: 360px;
        padding: 24px 0 29px
    }

    .world .label_white {
        width: 79px
    }

    .world .title_white {
        line-height: 16px;
        margin-top: 16px
    }

    .world a {
        margin-top: 211px
    }

    footer {
        min-height: 254px;
        padding: 24px 17px 29px
    }

    footer .divider {
        width: 255px
    }

    footer .info_bot,
    footer .info_top {
        width: 100%
    }

    footer .info_top {
        margin-top: 21px
    }

    footer .info_bot {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 19px
    }

    footer .info_bot a:nth-child(1) {
        margin-right: 78px
    }

    footer .link_ru {
        margin-top: 9px
    }

    footer .icon {
        top: 149px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    footer .download {
        top: 201px;
        left: 32px;
        width: 260px
    }

    footer .download img {
        width: 32%
    }
}

* {
    font-family: Roboto, sans-serif
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    transition: 2.5s all
}

.modal__active {
    display: block
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal .btn,
.modal__input {
    display: block;
    width: 100%;
    font-size: 30px;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: clamp(20px, 21px, 22px)
}

.modal__subtitle {
    margin-top: 10px;
    text-align: center;
    font-size: clamp(14px, 16px, 18px)
}

.modal__input {
    margin: 20px auto;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.modal .btn {
    margin: 0 auto; 
    height: 45px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.21);
}
